backports.csv==1.0.7
defusedxml==0.6.0
diff-match-patch==20181111
Django==2.0.11
django-crispy-forms==1.7.2
django-formtools==2.1
django-import-export==1.2.0
et-xmlfile==1.0.1
Pillow==8.3.2
pytz==2018.9

